header {
    background-position: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url("../resources/Banner\ Image.png");
    margin-left: auto;
    margin-right: auto;
}

.header-greeting {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 100px 531px 0px 530px;
}

.welcome-text {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding: 0px 344px;
}

.discount {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer-text {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#sub-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year-img {
    width: 800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 250px 120px 200px;
}

#div1 {
    display: flex;

    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 70%),
        url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    align-items: center;
    width: 1320px;
    height: 600px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;

}


.group70 {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    margin-right: 138px;
    flex-direction: column;


}

.title2 {
    color: #fff;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    padding: 0px 200px 0px 76px;
    margin-bottom: 0px;
}

.welcome-party-text {
    width: 697px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 76px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.btn1 {
    color: #fff;
    background-color: #070211;
    text-align: center;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 128px;
    margin-top: 45px;
}

.place-date {
    background: linear-gradient(180deg,
            rgba(255, 0, 0, 0.1) 0%,
            rgba(255, 0, 0, 0) 100%);
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    height: 482px;
    margin-top: 120px;
}

.text-primary,
.place-date {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.place-date {
    color: #070211;
}

.info-content {
    padding: 126px 385px 214px 385px;
}

.btn2 {
    border-radius: 8px;
    background: #f00;
    border: none;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    cursor: pointer;
}

.bonus,
.two-images {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;

}

#bonus0 {

    height: 420px;
}

#bonus1 {
    height: 200px;
}

.design1 {
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.design1-1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

#design2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 29px;
}

.design3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 355px;
    margin-top: 0px;


}

#ellipse {
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    padding: 49px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.p {
    padding-right: 80px;
}

#p-2024 {
    padding-left: 118px;
    margin-bottom: 16px;
}

#hny {
    margin-top: 45px;
    margin-right: 105px;

}

.function {
    text-align: center;
    margin-left: auto;
    margin-right: auto;



}

.des1 {
    margin-left: auto;
    margin-right: auto;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.des2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 0px;
}

.span {
    color: #F00;
}

#des3 {
    font-weight: 500;
    text-align: center;
    width: 1068px;
    margin-top: 28px;
    margin-bottom: 0px;

}

.two-images {
    background-image: url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 0px;
   
    

}

#discount {
    width: 300px;
    height: 300px;
    padding-top: 150px;
    margin-top: -78px;
    padding-right: 300px;
    background-image: url(../resources/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}


.many-pictures {
    width: 1350px;
    height: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    padding-right: 0px;
}

#p-new {
    margin-bottom: 48px;
}

.img-section1 {
    padding-bottom: 24px;
}

.img-padding {
    padding-left: 24px;
}


#h4-new {
    color: #F00;
    font-weight: 500;
    margin-bottom: 0px;

}

#p-new {
    width: 896px;
    margin-top: 22px;
}

.subscribe-section {
    margin-top: 126px;
    width: 1320px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 120px;

}

#Ss {
    margin-right: auto;
    padding-left: auto;
}

#mail-img {
    padding-top: 80px;
    padding-bottom: 40px;
}

#des4 {
    margin-left: auto;
    margin-right: auto;
    width: 896px;
    margin-top: 22px;
    padding-bottom: 48px;
}

.buttonIn {
    display: inline-block;
}

#input-style {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    border: none;

}

::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;

}

#subscribe {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-left: -210px;

}

footer {
    display: flex;
    gap: 100px;
    width: auto;
    height: 609px;
    background: #070211;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.text-color {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 120px;
    padding-left: 130px;
    width: 375px;
    height: 80px;
}

.text-color1 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 210px;
    padding-left: 500px;
    margin-right: 275px
}

.mini {
    display: inline;

}

.icons {
    display: flex;
    width: 64px;
    height: 64px;
    padding-top: 300px;
    justify-content: center;
    margin: 0px;
}

.img-space {
    padding: 0px 14px;
}

.number-web {
    padding-top: 120px;
    padding-left: 230px;
    margin-right: 275px
}

.text-color2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    width: 300px;

}

.text-color3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

#text4 {
    padding-left: 130px;
    width: 300px;
}

#Unsubscribe {
  
    padding-left: 300px;

}